.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.header {
    padding: 20px 0;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}
.header__nav {
    padding: 0 150px 0 0;
    color: #050038;
}
.header__nav ul{
    display: flex;
    min-width: 495px;
    justify-content: space-between;
    margin-top: 7.5px;
}
.header__button-language {
    margin: 0 50px 0 0;
}
.header__button-registration {
    display: flex;
    width: 157px;
    height: 50px;
}
.header__button-registration button {
    font-size: 16px;
}
.button-blue {
    background-color: #4262ff;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    color: #fff;
}

/* MAIN */

/* WELCOME */

.main {
    flex: 1 1 auto;
}

.welcome {
    padding: 58px 0;
}
.main__container {
    max-width: 1110px;
    margin: 0 auto;
}
.welcome__content {
    display: flex;
    justify-content: space-between;
}
.welcome__info {

}
.article__info {
    color: #050038;
    max-width: 440px;
}
.article__info h1,
.article__info h2 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 20px;
}
.article__info p {
    font-size: 18px;
    line-height: 24px;
}
.welcome__form {
    margin: 52.5px 0;
}
.welcome__form input {
    font-size: 18px;
    padding: 14px 15px;
    border: 1px solid #9B99AF;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
}
.welcome__form button {
    font-size: 18px;
}
.welcome__form p {
    font-size: 14px;
}
.welcome__button {
    height: 51px;
}
.welcome__statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome__image {
}

/* ABOUT */
.about {

}
.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}
.about__content:last-child {
    flex-direction: row-reverse;
}
.about__info a {
    font-size: 18px;
    line-height: 24px;
    color: #4262FF;
    text-decoration: underline;
}
.about__info p {
    margin-bottom: 40px;
}

/* WORK */

.main__container {
}
.work__content {
    color: #050038;
    margin: 55px 0;
}
.work__header {
    font-size: 48px;
    line-height: 56px;
}
.work__nav {
    margin: 28px 0;
}
.work__nav ul {
    display: flex;
}
.work__nav li {
    font-size: 14px;
    line-height: 20px;
    padding: 13px 18px;
    border-radius: 25px;
    border: 1px solid #F2F2F2;
    margin: 0 8px 0 0;
}
.work__nav li:last-child {
    margin: 0 0 0 0;
}
.work__active {
    background-color: #F1F3FD;
}
.work__body {
    display: flex;
    justify-content: space-between;
}
.work__article {
    max-width: 288px;
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0 0 0;
}
.work__article-header {
}
.work__description {
    margin: 25px 0 0 0;
}
.work__button {
    margin: 32px 0 0 0;
    display: block;
    color: #4262FF;
    text-decoration: underline;
}
.work__img {
}
.work__list li {
    padding: 0 0 18px 30px;
    background: url(../img/icons/mark_icon.svg) 0 5px no-repeat;
}
.work__list li:last-child {
    margin-bottom: 0;
}
.work__subtitle {
    margin-top: 70px;
}
.work__soft {
    margin-top: 22px;
    display: flex;
}
.work__soft li {
    margin-right: 32px;
}

/* STATISTICS */

.statistics {
    background-color: #FFD02F;
}
.main__container {

}
.statistics__content {
    text-align: center;
    padding: 118px 0;
    color: #050038;
}
.statistics__header {
   max-width: 540px;
   margin: 0 auto;
}
.statistics__title {
    font-size: 48px;
    line-height: 56px;
}
.statistics__subtitle {
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
    margin: 18px 0 0 0;
}
.statistics__body {
    display: flex;
    margin: 40px 0;
    flex-wrap: wrap;
}
.statistics__card {
    flex: 0 1 33.333%
}
.statistics__img {
    padding: 94px 0 12px 0;
    margin-bottom: 25px;
}
.statistics__description {
    font-size: 18px;
    line-height: 24px;
}

/* FOOTER */

.footer {
    background-color: #050038;
    color: #fff;
}
.footer__content {
    padding: 40px 0;
    font-size: 16px;
}
.footer__body {
    display: flex;
    margin-bottom: 100px;
}
.footer__column {
    line-height: 24px;
    width: 190px;
    margin-right: auto;
}
.footer__column:last-child {
    margin: 0;
}
.footer__column h3 {
    font-size: 18px;
    margin: 0 0 24px 0;
}
.footer__column li {
    margin: 0 0 12px 0;
}
.footer__column li:last-child {
    margin: 0;
}
.footer__line {
    width: 100%;
    height: 1px;
    background-color: #9b99af;
}
.footer__bottom {
    margin-top: 70px;
}
.footer__social-networks {
    display: flex;
    max-width: 1111px;
    justify-content: space-between;
    align-items: center;
}
.footer__networks {
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.footer__policy {
    display: flex;
    width: 867px;
    justify-content: space-between;
}
.footer__download-links {
    margin-top: 28px;
}
.footer__download-links ul {
    display: flex;
    width: 355px;
    justify-content: space-between;
}